@mixin tab-size($size) {
	tab-size: $size;
	-moz-tab-size: $size;
	-o-tab-size: $size;
	-ms-tab-size: $size;
	-webkit-tab-size: $size;
}

$break-tiny: 400px;
$break-medium: 700px;

@mixin respond-to($media) {

	@if $media == tiny {
		@media only screen and (max-width: $break-tiny) { @content; }
	}@else if $media == small {
		@media only screen and (max-width: $break-medium) { @content; }
	}@else if $media == normal {
		@media only screen and (min-width: $break-medium + 1) { @content; }
	}

}

@mixin respond-to-steps($media) {

	@if $media == tiny {
		@media only screen and (max-width: $break-tiny) { @content; }
	}@else if $media == small {
		@media only screen and (min-width: $break-tiny + 1) and (max-width: $break-medium - 1) { @content; }
	}@else if $media == normal {
		@media only screen and (min-width: $break-medium) { @content; }
	}

}
